/* Your Website Styles */
body {
	background: url("../img/cardboard-bg.jpg") repeat #C5C77F;
}
header {
	background: url("../img/couch-slice.jpg") repeat;
	height: 320px;
}

.banner {

}

a {
	text-decoration: none;
	color: #34DDDD;
}

p a {
	color: #808;
}

a:visited {
	color: darkgreen;
}

p a:hover {
	font-size: 1.05em;
}

h1	{
	display: inline-block;
	color: #808;
	background: #2F045D;
	border-radius: 0 0 0 15px;
	float: left;
	font-family: 'Ubuntu 700' sans-serif;
	font-size: 72px;
	line-height: 56px;
	margin: 0;
	padding: 10px;
	width: 405px;
	
	}

img.selfie-right {
	float: right;
}

span	{
	letter-spacing: 10px;
}
nav#main {
	background: #2F045D;
	border-radius: 0 0 15px 0;
	float:right;
	height: 132px;
	margin:0;
}

#main ul {
	color:#fff;
	float: right;
    margin: 34px 100px 0 0;
	} 

#main li {
	font-family: 'Ubuntu' sans-serif;
	font-size: 22px;
	display: inline;
	margin: 18px;
	top: 10px;
}

h2 {font-family: 'Roboto' sans-serif;
	}

h3 {
	font-family: 'Roboto' sans-serif;
	}

.coasters img {
	border-radius: 5%;
	margin: 10px 0;
}

.column_1 {
	background: #e5d7d4;
	border-radius: 15px;
	float:left;
	font-family: 'Roboto' sans-serif;
	margin-bottom: 30px;
	padding: 40px 40px;
	position: relative;
	top: 10px;
	}

.column_1 h2 {

		text-align: left;
		margin-bottom: 0;
	}


.column_1 p, .column_2 p, .column_3 p {
		font-size: 16px;
		letter-spacing: -.5px;
		line-height: 26px;
		text-align: justify;
		padding: 8px 15px 8px 15px;
	}

.column_2, .column_3 {
		background: #e5d7d4;
		border-radius: 15px;
		float:left;
		font-family: 'Roboto' sans-serif;
		margin-bottom: 30px;
		padding: 40px;
		position: relative;
	}


	

footer {
	color: #e5d7d4;
		background: #2F045D;
		border-radius: 15px 15px 0 0;
		margin-bottom: 0;
		height: 131px;
}	

footer p {
	font-size: 12px;
	margin-left: 10px;
	display:inline;
	float: left;
	position: relative;
	top:75px;
	left:8px;
}
#subnav ul {
		text-align: center;
		float: right;
    	margin: 34px 100px 0 0; 
	}

#subnav li {
	font-family: 'Ubuntu' sans-serif;
	font-size: 22px;
	display: inline;
	margin: 18px;
	top: 10px;

	}
	

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}