/* Your Website Styles */

body {
	background: url("../img/hexabump.png") repeat #000;
	
}
header {
  background: url("../img/hexabump.png") repeat #000;
  max-width: 100%;
  max-height:200px;
  text-align:center;
}

img {
  display:inline-block;
  margin: 0 auto;
  max-width: 100%;
}



a {
	text-decoration: none;
	color: #34DDDD;
}

p a {
	color: #808;

}

p a:hover {
	font-size: 1.05em;
}

h1	{
	display: inline-block;
	color: #808;
	background: #2F045D;
	border-radius: 0 0 0 15px;
	float: left;
	font-family: 'Ubuntu 700' sans-serif;
	font-size: 72px;
	line-height: 56px;
	margin: 0;
	padding: 10px;
	width: 405px;
	
	}

img.selfie-right {
	float: right;
}

span	{
	letter-spacing: 10px;
}
nav#main {
  background: url("../img/light_alu.png") repeat #000;
  display:inline;
  max-width: 100%;
  max-height: 70px;
}

#main ul {
  
  margin-top: 0;
  } 

#main li {
  color:#000;
  font-family: 'Ubuntu' sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 2em;
  display: inline;
  margin: 0% 3%;
}


a:link {
 
  text-decoration: none;
  color:#D8D8D8;
}

a:visited{
	color: #e6e6e6;
}

a:hover {
	color: #F0F0F0;
	font-size: 1.1em;
}



h2, h3 {
	color: #000;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;

}
section.coasters {
	float:left;
	position:relative;
	margin-top:2%;
}
.coasters img {
	border-radius: 5%;
	margin: 5.5% 2%;
	box-shadow: 2px 2px 1px #ccc;
  -webkit-box-shadow: 2px 2px 1px #ccc;
  -moz-box-shadow: 2px 2px 1px #ccc;
}


.one h2 {

		text-align: left;
		margin-bottom: 0;
	}


 p {
		color: #000;
		font-family: 'Roboto', sans-serif;
		font-size: 1.33em;
		line-height: 1.5em;
		text-align: justify;
	
		
	}

.one {
		background: #8A002E;
		border-radius: 5px;
		float:left;
		font-family: 'Roboto' sans-serif;
		margin:  3% auto;
		padding: 2% 3.5%;
		position: relative;
	}


	
footer {
	background: url("../img/couch-slice.jpg") repeat;
	height: 320px;
}

.copyright {
	background: url("../img/light_alu.png") repeat;
}	

.copyright p {
	text-align: right;
	padding-right:4%;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}